		<!-- BEGIN header -->
	<header id="header" class="clearfix">

        <div class="header-top-wrap">
        
                        <div class="sitetitle maxwidth grid left">

                <div class="logo">

                                            <a id="logo" href="https://archives-library.wcsu.edu/cao/" class="blog-name">
                    <img width="400" height="263" src="https://archives-library.wcsu.edu/cao/wp-content/uploads/sites/2/2020/08/cropped-logoH326.png" class="custom-logo custom-logo-right" alt="Connecticut&#039;s Archives Online" srcset="https://archives-library.wcsu.edu/cao/wp-content/uploads/sites/2/2020/08/cropped-logoH326.png 400w, https://archives-library.wcsu.edu/cao/wp-content/uploads/sites/2/2020/08/cropped-logoH326-300x197.png 300w" sizes="(max-width: 400px) 100vw, 400px" />Connecticut&#039;s Archives Online                        </a>
                    
                    
                                            <p class="sitedescription">Providing one-click access to Connecticut&#039;s archival resources</p>
                    
                </div>
                            </div>

                </div>

		        <div class="topnav">

			<div id="mobile-menu" class="mm-active">Menu</div>

			<nav>
				<ul class="top-menu maxwidth clearfix"><li id="menu-item-2266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2266"><a href="https://archives-library.wcsu.edu/cao/">About</a></li>
<li id="menu-item-2322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2322"><a href="https://archives-library.wcsu.edu/cao/participation/">Participation</a><span class="open-submenu"></span>
<ul class="sub-menu">
	<li id="menu-item-2320" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2320"><a href="https://archives.library.wcsu.edu/arclight/caoSearch/repositories/">Participating Repositories</a></li>
	<li id="menu-item-2257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2257"><a href="https://archives-library.wcsu.edu/cao/participation/application/">Application to participate</a></li>
	<li id="menu-item-2302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2302"><a href="https://archives-library.wcsu.edu/cao/helpful-video/">Helpful videos</a></li>
</ul>
</li>
<li id="menu-item-2264" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2264"><a href="https://archives.library.wcsu.edu/caoSearch">Search</a></li>
<li id="menu-item-2310" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2310"><a href="https://archives-library.wcsu.edu/cao/category/technical-infromation/">Technical Information</a><span class="open-submenu"></span>
<ul class="sub-menu">
	<li id="menu-item-2314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2314"><a href="https://archives-library.wcsu.edu/cao/submit-ead/">Submit EAD</a></li>
	<li id="menu-item-2366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2366"><a href="https://archives-library.wcsu.edu/cao/create-ead/">Create EAD</a></li>
	<li id="menu-item-2317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2317"><a href="https://archives-library.wcsu.edu/cao/new-coding-conventions/">Coding Conventions</a></li>
	<li id="menu-item-2316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2316"><a href="https://archives-library.wcsu.edu/cao/add-a-cao-search-box-to-your-site/">Add a CAO search box to your site</a></li>
	<li id="menu-item-2315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2315"><a href="https://archives-library.wcsu.edu/cao/analytics/">Analytics</a></li>
	<li id="menu-item-2313" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2313"><a href="https://archives-library.wcsu.edu/cao/documentation/">Documentation</a></li>
	<li id="menu-item-2356" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2356"><a href="https://archives.library.wcsu.edu/cao/processed_50.html">Check on what&#8217;s been indexed</a></li>
</ul>
</li>
<li id="menu-item-2261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2261"><a href="https://archives-library.wcsu.edu/cao/contact/">Contact</a></li>
</ul>			</nav>

		</div>
		
	</header>
