		<!-- BEGIN header -->
	<header id="header" class="clearfix">

        <div class="header-top-wrap">
        
                        <div class="sitetitle maxwidth grid left">

                <div class="logo">

                                            <a id="logo" href="https://archives-library.wcsu.edu/cao/" class="blog-name">
                    <img width="400" height="263" src="https://archives-library.wcsu.edu/cao/wp-content/uploads/sites/2/2020/08/cropped-logoH326.png" class="custom-logo custom-logo-right" alt="Connecticut&#039;s Archives Online" loading="lazy" srcset="https://archives-library.wcsu.edu/cao/wp-content/uploads/sites/2/2020/08/cropped-logoH326.png 400w, https://archives-library.wcsu.edu/cao/wp-content/uploads/sites/2/2020/08/cropped-logoH326-300x197.png 300w" sizes="(max-width: 400px) 100vw, 400px" />Connecticut&#039;s Archives Online                        </a>
                    
                    
                                            <p class="sitedescription">Providing one-click access to Connecticut&#039;s Archival Resources</p>
                    
                </div>
                            </div>

                </div>

		        <div class="topnav">

			<div id="mobile-menu" class="mm-active">Menu</div>

			<nav>
				<ul class="top-menu maxwidth clearfix"><li id="menu-item-1966" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1966"><a href="https://archives-library.wcsu.edu/cao/">About</a></li>
<li id="menu-item-2010" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2010"><a href="https://archives-library.wcsu.edu/cao/participation/">Participation</a><span class="open-submenu"></span>
<ul class="sub-menu">
	<li id="menu-item-2149" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2149"><a href="https://archives.library.wcsu.edu/caoSearch/repositories">Participating Repositories</a></li>
	<li id="menu-item-1962" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1962"><a href="https://archives-library.wcsu.edu/cao/participation/application/">Application to participate</a></li>
</ul>
</li>
<li id="menu-item-2003" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2003"><a href="https://archives-library.wcsu.edu/cao/search/">Search</a></li>
<li id="menu-item-1963" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1963"><a href="https://archives-library.wcsu.edu/cao/contact/">Contact</a></li>
<li id="menu-item-2065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2065"><a href="https://archives-library.wcsu.edu/cao/technical-information/">Technical Information</a><span class="open-submenu"></span>
<ul class="sub-menu">
	<li id="menu-item-1965" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1965"><a href="https://archives-library.wcsu.edu/cao/participation/coding-conventions/">Coding Conventions</a></li>
	<li id="menu-item-2073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2073"><a href="https://archives-library.wcsu.edu/cao/cao-network-folder-set-up/">CAO network folder set-up</a></li>
	<li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2132"><a href="https://archives-library.wcsu.edu/cao/submit-ead-file-to-cao/">Submit EAD file to CAO</a></li>
	<li id="menu-item-2067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2067"><a href="https://archives-library.wcsu.edu/cao/technical-information/helpful-software/">Helpful software</a></li>
	<li id="menu-item-1964" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1964"><a href="https://archives-library.wcsu.edu/cao/participation/create-an-inventory-in-ead/">Create an inventory in EAD</a></li>
	<li id="menu-item-2115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2115"><a href="https://archives-library.wcsu.edu/cao/new-prototype-app-for-cao/">New Prototype App for CAO!</a><span class="open-submenu"></span>
	<ul class="sub-menu">
		<li id="menu-item-2134" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2134"><a href="https://docs.google.com/document/d/1edmINh9gkSRyADS09y0LvxVi4RsQE9DOnW_up7uFYDA/edit?usp=sharing">Documentation regarding CAO overhaul</a></li>
	</ul>
</li>
</ul>
</li>
</ul>			</nav>

		</div>
		
	</header>
