BODY	{ background: #FFFFFF; margin-left: 3%; margin-right: 3%; font-family: verdana} 

A      { color: 000099} 

P      { font-family: verdana;   font-size: 10pt; text-align: justify; line-height: 115% }

div      { font-family: verdana;   font-size: 10pt; } 

P.seriesscope     { font-family: verdana;   text-align: justify; line-height: 115%; margin-left: 5%; margin-right: 5%} 

P.subseriesscope     { font-family: verdana;   text-align: justify; line-height: 115%;margin-left: 5%; margin-right: 5% } 

P.seriesabstract     { font-family: verdana;   text-align: justify; line-height: 115%;margin-left: 5%; margin-right: 5% } 

P.subseriesabstract     { font-family: verdana;   text-align: justify; line-height: 115%;margin-left: 5%; margin-right: 5% } 

P.noindent { text-indent: 0; line-height: 115%; text-align: justify}

p.H1	   { font-family: verdana; text-align: left; font-size: 12pt; color: 990099;}

p.H2	   { font-family: verdana; text-align: left; font-size: 11pt; color: 996633;}

p.H3	   { font-family: verdana; text-align: left; font-size: 12pt; color: 008080}

P.h3subseries   { text-indent: 1em; font-family: verdana; text-align: left; font-size: 10pt; color: 996633}
P.h4subseries	   { text-indent: 3em; font-family: verdana; text-align: left; font-size: 10pt; color: 996633}
P.h5subseries	   { text-indent: 5em; font-family: verdana; text-align: left; font-size: 10pt; color: 996633}
P.h6subseries	   { text-indent: 7em; font-family: verdana; text-align: left; font-size: 10pt; color: 996633}
P.h7subseries	   { text-indent: 9em; font-family: verdana; text-align: left; font-size: 8pt; color: 996633}
P.h8subseries	   { text-indent: 11em; font-family: verdana; text-align: left; font-size: 8pt; color: 996633}
P.h9subseries	   { text-indent: 13em; font-family: verdana; text-align: left; font-size: 8pt; color: 996633}

tr.c02 {margin-left:10%}
tr.c03 {margin-left:12%}

li	   {list-style-type: none; color: 000000; line-height: 140%}

H1	   { text-align: left; font-size: 18pt; color: 990099}

H2	   { font-family: verdana; text-align: left; font-size: 14pt; color: 000000}

H3	   { font-family: verdana; text-align: left; font-size: 11pt; color: 000000}

H3.subseries	   { font-family: verdana; text-indent: 0; text-align: left; font-size: 11pt; color: #996633}

h4   {text-align: left}

H5	   { text-align: left }

H6   {text-align: left }

tr  {text-align:left}

td  {text-align:left; font-size: 10pt}

